<?xml version="1.0"?>
<launch>
    <arg name="launch_world" default="true"/>
    <arg name="ns" default="left"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg launch_world)"/>


    <!-- URDF -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ar3_description)/urdf/$(arg ns)_ar3_gazebo.urdf.xacro" />

    <!-- Load joint controller configurations -->
    <rosparam file="$(find ar3_gazebo)/config/ar3_gazebo_controllers.yaml" command="load"/>

    <!-- Load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="--namespace=/$(arg ns) /$(arg ns)/joint_state_controller /$(arg ns)/ar3/controllers/position
        --shutdown-timeout 1"/>

    <!-- Convert joint states to TF transforms for rviz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen" ns="/$(arg ns)">
        <param name="tf_prefix" value="$(arg ns)"/>
    </node>

    <!-- Spawns model -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model $(arg ns)_ar3" respawn="false" output="screen"/>

</launch>